<p id="notice"><%= notice %></p>

<%= image_tag @store.product_image , :height=>"200", :width=>"200" %>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
