<%= flash[:notice] %>
<%= form_with url: "/admin/login", method: :post do |form| %>
  
 
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>